# Database
MSSQL_SA_PASSWORD=your_password
DB_URL=jdbc:sqlserver://technox-db:1433;databaseName=TEStore;encrypt=true;trustServerCertificate=true
DB_USERNAME=sa
DB_PASSWORD=your_password

# JWT
JWT_SECRET=your_key

# Mail
MAIL_USERNAME=your_key
MAIL_PASSWORD=your_key

# Cloudinary
CLOUDINARY_NAME=your_key
CLOUDINARY_API_KEY=your_key
CLOUDINARY_API_SECRET=your_key

# PayOS
PAYOS_CLIENT_ID=your_key
PAYOS_API_KEY=your_key
PAYOS_CHECKSUM_KEY=your_key

# App
APP_FRONTEND_URL=https://technoz.site,https://www.technoz.site