<div class="card">

    <form [formGroup]="f" (ngSubmit)="save()" class="card">
        <div class="left">
            <label class="field"><span>SKU *</span><input formControlName="sku"></label>
            <label class="field"><span>Tên *</span><input formControlName="name"></label>

            <div class="grid-2">
                <label class="field"><span>Giá *</span><input type="number" formControlName="price"></label>
                <label class="field"><span>Giá gốc</span><input type="number" formControlName="oldPrice"></label>
            </div>

            <div class="grid-2">
                <label class="field"><span>Danh mục (ID) *</span><input type="number" formControlName="categoryId"></label>
                <label class="field"><span>Tồn kho *</span><input type="number" formControlName="stockQty"></label>
            </div>

            <label class="checkbox"><input type="checkbox" formControlName="inStock"><span>Cho phép bán</span></label>
            <label class="field"><span>Tags (phẩy)</span><input formControlName="tags"></label>
            <label class="field"><span>Mô tả</span><textarea rows="6" formControlName="description"></textarea></label>

            <button class="btn" type="submit">{{ id ? 'Update' : 'Create' }}</button>
        </div>
    </form>
</div>
