<form [formGroup]="f" (ngSubmit)="save()" class="card form">
    <h2 class="title">{{ id ? 'Edit product' : 'Add product' }}</h2>

    <div class="grid">
        <label>
            <span>Name</span>
            <input type="text" formControlName="name" placeholder="Product name">
        </label>

        <label>
            <span>Type</span>
            <input type="text" formControlName="type" placeholder="Electronics | Shoes...">
        </label>

        <label>
            <span>SKU</span>
            <input type="text" formControlName="sku" placeholder="SKU code">
        </label>

        <label>
            <span>Price</span>
            <input type="number" formControlName="price" min="0" step="0.01">
        </label>

        <label>
            <span>Variants</span>
            <input type="number" formControlName="variants" min="0" step="1">
        </label>

        <label class="switch-line">
            <span>In stock</span>
            <input type="checkbox" formControlName="inStock">
        </label>

        <label class="full">
            <span>Image URL</span>
            <input type="text" formControlName="image" placeholder="/assets/xxx.jpg">
        </label>
    </div>

    <div class="actions">
        <button class="btn" type="submit">{{ id ? 'Update' : 'Create' }}</button>
    </div>
</form>
