<h2>Chính sách bảo mật</h2>
<p><strong>TechNoX</strong> cam kết bảo mật các thông tin riêng tư của khách hàng…</p>
<p>Khi bạn cung cấp thông tin cá nhân của bạn cho chúng tôi (Thông qua tổng đài hỗ trợ trực tuyến, messenger hoặc tại trực tiếp các hệ thống cửa hàng),
    bạn đã đồng ý với các điều khoản mà chúng tôi đã nêu ở trên, TechNoX cam kết bảo mật thông tin cá nhân của quý khách bằng mọi cách thức
    có thể. Chúng tôi sẽ sử dụng nhiều công nghệ bảo mật thông tin khác nhau như: chuẩn quốc tế PCI, SSL,… nhằm bảo vệ thông tin này không bị
    truy lục, sử dụng hoặc tiết lộ ngoài ý muốn.</p>

    <p> Tuy nhiên do hạn chế về mặt kỹ thuật, không một dữ liệu nào có thể được truyền trên đường truyền internet mà có thể được bảo mật 100%. Do vậy,
    chúng tôi không thể đưa ra một cam kết chắc chắn rằng thông tin quý khách cung cấp cho chúng tôi sẽ được bảo mật một cách tuyệt đối an toàn,
    và chúng tôi không thể chịu trách nhiệm trong trường hợp có sự truy cập trái phép thông tin cá nhân của quý khách như các trường hợp quý khách
    tự ý chia sẻ thông tin với người khác… Nếu quý khách không đồng ý với các điều khoản như đã mô tả ở trên, Chúng tôi khuyên quý khách
    không nên gửi thông tin đến cho chúng tôi.</p>